@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');
@import 'modern-normalize/modern-normalize.css';
@import url('./utils/container.scss');
@import url('./utils/style.scss');

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin: 0;
}

p {
  font-family: 'Montserrat';
  font-weight: 500;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
div {
  width: auto;
}

.mySwiper {
  width: 800px;
}

.my-thumbs {
  width: 600px;
}

.image {
  width: 800px;
}

.image-box {
  width: calc(100vw - 30px);
       max-width: 800px;
    @media screen and (min-width: 767px) {
        max-width: 800px;
    }

}

.swiper-cover-img {

  &__image {
    @media screen and (min-width: 767px) {
      width: 100%;
      max-width: 800px;
    }
  }
}



.swiper-modal{
  width: 100vw;

     @media screen and (min-width: 767px) {
      max-width: 1200px;
     }


  &__img{
    width: 100%;
    // object-fit: contain;
  }
}

.boxx{
  margin: 0 auto;
}
.my-thumbs{

div{
  .swiper-wrapper{
   justify-content: center;
  }


}
    width: calc(100vw - 30px);
  height: 100px;
  @media screen and (min-width: 767px) {
      height: 120px;
  }

  
  &__img{
    // width: 40px;
        //  height:100%;
width: 80px;
    object-fit: contain;

      @media screen and (min-width: 767px) {
        width: 120px;
      }
  }

  &__item{
      // width: 90px;
  }
}
